<h3>Browse orders:</h3>
<div id="orders">
  <%= calendar do |date| %>
   <%= date.day %>
<% end %>
</div>

<ol class="orders">
  <% @orders.each do |order| %>
    <li><%= User.find_by_id(order.user_id).name %> |
    <%= FirstCourse.find_by_id(order.first_course_id).name %> <%= FirstCourse.find_by_id(order.first_course_id).price %> |
    <%= SecondCourse.find_by_id(order.second_course_id).name %> <%= SecondCourse.find_by_id(order.second_course_id).price %> |
    <%= Drink.find_by_id(order.second_course_id).name %> <%= Drink.find_by_id(order.drink_id).price %></li>
  <% end %>
</ol>