<h1>Browse orders:</h1>

<h2 id="month">
    <%= link_to "<", date: @date.prev_day %>
    Orders for <%= @date.strftime("%b %d %Y") %> :
    <%= link_to ">", date: @date.next_day %>
</h2>

  <% if @orders_by_date[@date] %>
    <% @orders_by_date[@date].each do |order| %>
      <% @currentdaysorders << order %>
    <% end %>
  <% else %>
    <% @currentdaysorders = [] %>
  <% end %>

<div id="orders">
    <table>
    <tr>
        <td>User's name</td>
        <td>First course name</td>
        <td>First course Price</td>
        <td>Main course name</td>
        <td>Main course Price</td>
        <td>Drink name</td>
        <td>Drink Price</td>
        <td>Order's total</td>
    </tr>

  <% @currentdaysorders.each do |order| %>
  <tr>
    <td><%= User.find_by_id(order.user_id).name %></td>
    <td><%= FirstCourse.find_by_id(order.first_course_id).name %></td>
    <td><%= FirstCourse.find_by_id(order.first_course_id).price %></td>
    <td><%= SecondCourse.find_by_id(order.second_course_id).name %></td>
    <td><%= SecondCourse.find_by_id(order.second_course_id).price %></td>
    <td><%= Drink.find_by_id(order.drink_id).name %></td>
    <td><%= Drink.find_by_id(order.drink_id).price %></li></td>
    <td><%= FirstCourse.find_by_id(order.first_course_id).price + SecondCourse.find_by_id(order.second_course_id).price + Drink.find_by_id(order.drink_id).price %></td>
    <% @todaystotal = @todaystotal + FirstCourse.find_by_id(order.first_course_id).price + SecondCourse.find_by_id(order.second_course_id).price + Drink.find_by_id(order.drink_id).price %>
    <% @totalforfirst += FirstCourse.find_by_id(order.first_course_id).price %>
    <% @totalformain += SecondCourse.find_by_id(order.second_course_id).price %>
    <% @totalfordrinks += Drink.find_by_id(order.drink_id).price %>

  </tr>
  <% end %>
  <tr>
    <td>Totals</td>
    <td>-</td>
    <td><%= @totalforfirst %></td>
    <td>-</td>
    <td><%= @totalformain %></td>
    <td>-</td>
    <td><%= @totalfordrinks %></td>
    <td><%= @todaystotal %></td>
  </tr>
 </table>
 </div>
 
<h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    Orders for <%= @date.strftime("%b %Y") %> :
    <%= link_to ">", date: @date.next_month %>
</h2> 

<div id="orders">
  <%= calendar @date do |date| %>
   <%= date.day %>
   <% if @orders_by_date[date] %>
   <div id="orders">
       <p><%= link_to "#{pluralize(@orders_by_date[date].count, "order")}", date: date %></p>
    </div>
   
    <% end %>
  <% end %>
</div>




