<h1>Browse orders:</h1>
<h2 id="month">
    <%= link_to "<", date: @date.prev_day %>
    <%= @date.strftime("%m-%d-%Y") %>
    <%= link_to ">", date: @date.next_day %>
</h2>
<h3>Orders for <%= @date.strftime("%b %d %Y") %>:</h3>
<ol class="orders">

  <% @orders.each do |order| %>
    <li><%= User.find_by_id(order.user_id).name %> |
    <%= FirstCourse.find_by_id(order.first_course_id).name %> <%= FirstCourse.find_by_id(order.first_course_id).price %> |
    <%= SecondCourse.find_by_id(order.second_course_id).name %> <%= SecondCourse.find_by_id(order.second_course_id).price %> |
    <%= Drink.find_by_id(order.drink_id).name %> <%= Drink.find_by_id(order.drink_id).price %></li>
  <% end %>
</ol>


<div id="orders">
  <%= calendar @date do |date| %>
   <%= date.day %>
   <% if @orders_by_date[date] %>
   <h2><%=  @orders_by_date.count %></h2>
    <% end %>
  <% end %>
</div>

<% if @orders_by_date[@date] %>

      <% @orders_by_date[@date].each do |order| %>
      <%= @currentdaysorders << order %>
      <% end %>
        <% else %>
          <%= @currentdaysorders = [] %>
       <% end %>

 <ol class="orders">
  <% @currentdaysorders.each do |order| %>
    <li><%= User.find_by_id(order.user_id).name %> |
    <%= FirstCourse.find_by_id(order.first_course_id).name %> <%= FirstCourse.find_by_id(order.first_course_id).price %> |
    <%= SecondCourse.find_by_id(order.second_course_id).name %> <%= SecondCourse.find_by_id(order.second_course_id).price %> |
    <%= Drink.find_by_id(order.drink_id).name %> <%= Drink.find_by_id(order.drink_id).price %></li>
  <% end %>
 <ol>