<h2>New order for today:</h2>

<%= form_for(@order) do |f| %>

 <h3><%= render 'shared/error_messages', object: f.object %>
    <p><div class="field">
     <%= f.label :first_course_id %>
     <%= f.collection_select :first_course_id, FirstCourse.all.where("created_at >= ?", Time.now.day), :id, :name, include_blank:true %>
    </div></p>
    <p><div class="field">
     <%= f.label :second_course_id %>
     <%= f.collection_select :second_course_id, SecondCourse.all.where("created_at >= ?", Time.now.day), :id, :name, include_blank:true %>
    </div></p>
    <p><div class="field">
     <%= f.label :drink_id %>
     <%= f.collection_select :drink_id, Drink.all.where("created_at >= ?", Time.now.day), :id, :name, include_blank:true %>
    </div></p>
    
    <%= f.button :submit, class: "btn btn-default btn-lg" %>
</h3>
<% end %>