
<h1>In today's menu:</h1>
<h3>First course items:</h3>

<div class="menu">
  <% FirstCourse.all.where("created_at >= ?", Time.zone.now.beginning_of_day).each do |first_course| %>
    <p><%= first_course.name %> | <%= first_course.price %></p>
  <% end %>
</div>

<h3>Main course items:</h3>
<div class="menu">
  <% SecondCourse.all.where("created_at >= ?", Time.zone.now.beginning_of_day).each do |main_course| %>
    <p><%= main_course.name %> | <%= main_course.price %></p>
  <% end %>
</div>

<h3>Drinks:</h3>
<div class="menu">
  <% Drink.all.where("created_at >= ?", Time.zone.now.beginning_of_day).each do |drink| %>
    <p><%= drink.name %> | <%= drink.price %></p>
  <% end %>
</div>
<p><%= link_to "New order", new_order_path, class: "btn btn-lg btn-primary" %></p>




