<!DOCTYPE html>
<html>
  <head>
    <title>LaunchSaaSapp</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "launch saas", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user && current_user.admin? %>
            <li><%= link_to "All Users", '/users' %></li>
            <li><%= link_to "Today's Orders", '/orders' %></li>
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Add a first course for today", new_first_course_path %></li>
            <li><%= link_to "Add a main course for today", new_second_course_path %></li>
            <li><%= link_to "Add a drink for today", new_drink_path %></li>
          </ul>
        </li>
            <% end %>

            <%# user is logged in, show log out link %>
                <% if current_user.present? %>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
                <%# user is not logged in, show signup and login links %>
                <% else %>
                <li><%= link_to 'Sign In', new_user_session_path %></li> | 
                <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                <% end %></li></ul>
        </nav>
      </div>
    </header>
    <div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
  

</html>
